.first {
    background-color: #333333;
    color: white;
    height: 60px;
    /* position: fixed; */
}
/* .Black {
    height: 30px;
} */
#cat{
    background-color: #222222;
}
.first-images{
    margin-left: -100px;
    
}

/* .first-images:hover {
    border: 1px solid red;

} */

.first-images img:hover {
    border: 1px solid red;
}



.full-logo{
  padding: 0px 80px;
}
.shop-now{
     color: #cead65;
} 
.prev{
    width: 40px;
    /* margin-top: 200px; */
    margin: auto;
    height: 80px;
}
.hero{
    height: 700px;
}
.tran-text {
    transform: translate(400px, -300px);
}

.tran-text1 {
    transform: translate(-150px, -200px);
}
.btn-shop1{
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.btn-shop1:hover{
background-color: #fff9f9;
color: black;
}
.btn-shop2{
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    border: 1px solid black;
}
.home ul a li:hover{
color: #ff2218;
}
.btn-shop2:hover{
background-color: #e2f4f7;
color: black;
}

.fashion{
    font-family:'Dancing Script', cursive;;
}
.basket1{
    background-color: #7ac64d;
}
.basket1:hover{
    background-color: black;
}
.comuputer a img:hover{
    background: black;
}
.tab:hover{
    background-color: black;
}
.phone:hover{
    background-color: black;
}
.basket1:hover{
    background-color: black;
}
.cross:hover{
    background-color: black;
}
    
h3{
    transform: translate(80px, -70px);
    color: white;
}

#ii:hover {
    border: 1px solid red;
    transform: scaleX(-1);
    transition: .5s ease-in-out;
}

.card1 {
    width: 100%;
    max-width: 350px;
    min-width: 250px;
    height: 300px;
    /* background-color: #292929; */
    background-image: url(images/items1\ \(2\).jpg);
    font-size: 16px;
    /* transition: all 0.3s ease; */
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition:  0.6s ease;
    background-position: 0px;
    margin-right: 80px;

  }
  .card2 {
    width: 100%;
    max-width: 350px;
    min-width: 250px;
    height: 300px;
    /* background-color: #292929; */
    background-image: url(images/items2\ \(2\).jpg);
    font-size: 16px;
    /* transition: all 0.3s ease; */
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition:  0.6s ease;
    background-position: 0px;
    margin-right: 80px;

  }
  .card3 {
    width: 100%;
    max-width: 350px;
    min-width: 250px;
    height: 300px;
    /* background-color: #292929; */
    background-image: url(images/items3\ \(2\).jpg);
    font-size: 16px;
    /* transition: all 0.3s ease; */
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition:  0.6s ease;
    background-position: 0px;
  }

  
  .card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 200px;
    color: gray;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: gray;
    font-weight: 900;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    height: 290px;
  }
  
  .card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
  }
  .week {
    font-size: 40px;
    font-weight:600 ;
  }
  .card:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
  }
  
  .card:hover .icon svg path {
    fill: url('#gradientColor');
    transition: all 0.3s ease;
  }

  .hov:hover{
    border-bottom: 2px solid red;
  }
  .hori{
    margin-top: -55px;
  }

  .hov{
    padding-bottom: 50px;
  }